[submodule "submodules/wrLib"]
	path = submodules/wrLib
	url = https://github.com/whimsicalraps/wrLib
[submodule "submodules/wrDsp"]
	path = submodules/wrDsp
	url = https://github.com/whimsicalraps/wrDsp
[submodule "submodules/dfu-stm32f7"]
	path = submodules/dfu-stm32f7
	url = https://github.com/trentgill/dfu-stm32f7.git
[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/trentgill/lua.git
[submodule "submodules/STM32_Cube_F7"]
	path = submodules/STM32_Cube_F7
	url = https://github.com/trentgill/STM32_Cube_F7.git
