.DS_Store
tags
ref/*
*.zip
*.asd
*.wav

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.elf.lst
*.lst

# Linker output
*.ilk
*.map
*.exp
*.dmp

# Precompiled Headers
*.gch
*.pch
*.lua.h

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

trace*
build/
druid/
crow-*/
*.swp
