[submodule "submodules/wrLib"]
	path = submodules/wrLib
	url = https://github.com/whimsicalraps/wrLib
[submodule "submodules/wrDsp"]
	path = submodules/wrDsp
	url = https://github.com/whimsicalraps/wrDsp
[submodule "submodules/dfu-stm32f7"]
	path = submodules/dfu-stm32f7
	url = https://github.com/trentgill/dfu-stm32f7.git
[submodule "submodules/lua"]
	path = submodules/lua
	url = https://github.com/trentgill/lua.git
[submodule "submodules/STM32CubeF7_Drivers"]
	path = submodules/STM32CubeF7_Drivers
	url = https://github.com/trentgill/STM32CubeF7_Drivers
[submodule "submodules/STM32CubeF7_USB"]
	path = submodules/STM32CubeF7_USB
	url = https://github.com/trentgill/STM32CubeF7_USB
